/****** General ***********/
body { margin: 0;}
header {
    display: flex;
    justify-content: space-between;
  
}

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}


/* Logo et Navigation */

#Logo {padding-top: 20px; padding-bottom: 10px;}
#petitlogo { width: 61.09px; height: 19px;}

.navigation {
    display: flex;
    left: 1096px;
    
}
.button {
    display: flex;

    gap: 68px;
    margin: 0;
}
.navigation li {display: flex; border-top: 2px solid #FFF; padding-top: 10px;}
.navigation li:hover { color: #0065FC;}
.navigation li:hover{border-top: 2px solid #0065FC;}

/* Titre de l'intro */

.groupheader {
    gap: 35px;
}

.infogroup {
    display: flex;
    gap: 35px;}

.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titreintro {
    display: flex;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    margin: 0;
    padding-top: 40px;
    
}

.introsubtitle {
    display: flex;
    margin: 0;
}

/*Barre de recherche */

.search-container {
    margin-top: 30px;
    position: relative;
}

.formulaire {display: flex;}

.location-icon {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-icon i {
    font-size: 20px; 
    color: black; 
}

.formulaire .input-recherche {
     border: 1px solid;
     border-radius: 15px;
     border-color: #F2F2F2;
    text-align: center; 
    font-size: 18px; 
    font-weight: bold;
}

.formulaire .input-recherche::placeholder {
font-weight: bold;
color: black;
}

.formulaire input[type=submit] {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 15px 16px;
    border: 1px solid transparent;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.boutonmobile {
    display: none;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 15px 16px;
    border: 1px solid transparent;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.boutonmobile .fa-solid {
    color: #FFF;
}

.fa-location-dot  {
     position:absolute;
     left: 18px; 
    top: 15px;
}



/* Barre de Filtre */

.filter-bar {
    width: 758px;
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.filter-title {
    font-weight: bold;
   margin-right: 20px;
   width: 54px; height: 21px;
}

.filter-group {
    display: flex;
}

.filter-item {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 19.96px;
    border: 2px solid #F2F2F2;
    border-radius : 25px;
    margin-right: 10px;
    padding: 10px 20px
}

.filter-item:hover {
    background-color: #DEEBFF; 
    border-radius: 25px; 
}

.filter-item i {
    margin-right: 5px;
}

.filter-item span {
    font-size: 14px;
}

.info-message {
    margin-top: 20px; 
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    
}

.info-message i {
    margin-right: 10px;
}

/* Cards et ajouts */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}
.hebergements-cards a {
    width: 30%
}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 33px;
}
.hebergements-cards img {
    height: 100px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    display: flex;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficherplus {
    margin-top: 35px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités*/

.activites-cards .card-title {
    padding-left: 10px;
}
.activites-cards a {
    width: 25%;
}

.Activites {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
}

.activites-cards img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites-cards .card {
   
    box-sizing: border-box;
    margin: 10px;
}
.activites-cards {
    display: flex;
    justify-content: space-between;
}
.Activites h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Footer*/


.bodyfooter {
    display: flex;
    background-color: var(--main-bg-color);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    justify-content: space-between;
}
.footercontent {
    display: flex;
    justify-content: space-between;
    width: 30%;

}


.footertitle {
    font-size: 18px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px){
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        max-width: 700px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        max-width: 700px;
    }
    .Activites {
        height: 30%;
        width: 100%;
        max-width: 700px;
        margin-top: 50px
    }
    .activites-cards img {
        height: 150px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .bodyfooter {
        max-width: 700px;
    }
    .footercontent {
        max-width: 700px;
    }
    .footertxt {
        max-width: 700px;
        margin-right: 50px;
    }
    .footertitle {
        max-width: 700px;
    }
    .navigation {
        width: 50%;
        max-width: 700px;
    }
    
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    .main-container {
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
    }
    

    /* En-tête */

    #header {display: none; 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Logo {
        align-items: center;
        max-width: 100%;
        padding: 30px;
        margin: 0 250px;
    }


    /* Navigation */

    .button {
        gap: 90px;
    }

    .navigation {
        display: flex;
    justify-content: space-between;
    font-size: 19px;
    width: 100%;
    }

    .navigation ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-align: center;
        width: 100%;
        gap: 0;
    }

    .navigation li {
        flex-grow: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid #f2f2f2;
    transition: 0.1s ease;
    width: 50%;
    justify-content: center;
    }

    .navigation li:hover {
    border-bottom: #0065FC solid 2px;
    border-top: none;}

    .navigation li a:hover {
    color: #0065FC;} 

    .infogroup {
        padding: 0 20px 0 20px;
    }

    
    /*Titre intro */

    .headline h1 {
        margin-bottom: 50px;
    }

    .headline .introsubtitle {
        margin-top: 30px;
    }


    /*Barre de recherche*/

    .search-container {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .boutonmobile {
        display: block;
    }

    .boutonrecherche {
        display: none;
    }


    /*Barre de filtre*/

    .filter-bar {
        margin-left: 20px;
        padding-right: 20px;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        width: 400px;
    }

    .filter-group {
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    .filter-item {
        width: 47%;
        margin-top: 20px;
    }

    .info-message {
        margin-top: 120px;
        margin-left: 20px;
    }

    .info-message span {
        width: 350px;
        flex-wrap: wrap;
    }


    /* Hébergements et Populaires */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements {
        background-color: #FFF !important;
        border-radius: 0;
    }


    /* Hébergements */

    .hebergements-cards {
        flex-direction: column;
        height: 50%;
    }
    .hebergements-cards a {
        width: 100%;
    }


    /* Populaires */

    .populaires {
        margin-top: 0;
        border-radius: 0 !important;
    
    }  
    
    .populaires-cards {
        display: flex;
        flex-direction: column;
        
    }

    .populaires-cards a {
        width: 100%;
    }


    /* Activités */

    .Activites {
        margin-left: 20px;
    }

    .Activites .populaires-title {
        margin-left: 20px;
    }

    .Activites .card-title {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .activites-cards {
        flex-direction: column;
        width: 90%;
    }

    .activites-cards a {
        width: 100%;
    }


    /* Footer */

    .bodyfooter {
        flex-direction: column;
    }

    .footercontent {
        width: 100%;
      
    }
    .footertxt {
        padding: 10px;    
    }

    .footertitle {
        margin-top: 20px;
    }

    .footersubtitle {
        margin-top: 15px;
    }

}